<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Flip</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.image</string>
				<string>public.jpeg</string>
				<string>public.png</string>
				<string>public.tiff</string>
				<string>public.heic</string>
				<string>public.heif</string>
				<string>public.jpeg-2000</string>
				<string>org.webmproject.webp</string>
				<string>com.microsoft.bmp</string>
				<string>com.microsoft.ico</string>
				<string>com.apple.icns</string>
				<string>public.avif</string>
				<string>com.compuserve.gif</string>
				<string>com.adobe.photoshop-image</string>
			</array>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>jpg</string>
				<string>jpeg</string>
				<string>jpe</string>
				<string>jfif</string>
				<string>png</string>
				<string>gif</string>
				<string>webp</string>
				<string>heic</string>
				<string>heif</string>
				<string>tif</string>
				<string>tiff</string>
				<string>bmp</string>
				<string>dib</string>
				<string>ico</string>
				<string>icns</string>
				<string>cur</string>
				<string>jp2</string>
				<string>j2k</string>
				<string>jpf</string>
				<string>jpx</string>
				<string>tga</string>
				<string>exr</string>
				<string>hdr</string>
				<string>avif</string>
				<string>psd</string>
				<string>pbm</string>
				<string>pgm</string>
				<string>ppm</string>
			</array>
		</dict>
	</array>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSSupportsAutomaticTermination</key>
	<false/>
	<key>NSSupportsSuddenTermination</key>
	<true/>
	<key>CFBundleShortVersionString</key>
	<string>0.4.3</string>
	<key>CFBundleVersion</key>
	<string>7</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2026 喜相逢科技 (www.ak129.cn). MIT License.</string>
</dict>
</plist>
